/*------------------ Breadcrumb styling --------------------*/
.breadcrumbs
{
	background: linear-gradient(rgba(150, 60, 221, 0.1), rgba(17, 17, 69, 0.8)), url('../images/backgrounds/contact-bc.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.breadcrumb-container
{
	height: 34vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1.5rem;
}

.breadcrumb-container .hero-heading
{
	font-size: 3rem;
    color: white;
}
/*------------------ Breadcrumb styling --------------------*/



/*------------------------ Map styling ----------------------------*/
.map{
    padding: 30px;
}
.map-location
{
	margin: 1rem 0;
	display: flex;
	align-items: center;
}

.map-location ion-icon
{
	font-size: 2.6rem;
	color: var(--yellow-color);
}
.map-heading{
    font-size: 3rem;
    font-weight: bold;
    padding: 20px;
}
/*------------------------ Map styling ----------------------------*/
















/*-------------------------------------------------------------------------------------*/
/*----------------------------- Desktop screen styling ----------------------------------*/
/*-------------------------------------------------------------------------------------*/
@media screen and (min-width: 789px)
{
	/*----------- Breadcrumb styling ----------*/
	.breadcrumb-container 
	{
		height: 50vh;
	}


	/*------------ Map styling ----------------*/
	.map .container
	{
		max-width: 960px;
		text-align: center;
	}

	.map-location
	{
		justify-content: center;
	}
}

